				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.x.com/MHStudios836" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/mh.studios.836/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/mhdesigns.836" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/MHStudios836" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/mhstudios836/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://www.youtube.com/@mh.studios.836" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
								<li><a href="https://wa.me/message/OOFIM5FC3SLMD1" class="icon brands alt fa-whatsapp"><span class="label">WhatsApp</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy;2025 <span data-translate="footer.copyright">MH STUDIOS™ - All Rights Reserved</span></li>
								<li><span data-translate="footer.design_by">Design by: </span><a href="https://www.instagram.com/mhdesigns.836"><img src="images/Logo_2.png" class="icon" alt="MH Studios™" width="12" height="12"> MH Designs™</a></li>
							</ul>
						</div>
					</footer>
