<!-- _includes/header.njk -->
<header id="header" class="alt style2">
    <a href="index.html" class="logo"><strong>MH</strong><span>STUDIOS™</span></a>
    <nav>
        <a href="Login_Signup.html" id="signin-text-link" class="button special small" style="margin-right: 1.5rem;">Sign In</a>
        <a href="Admin_Room.html" id="user-icon-container" class="profile-pic" style="display: none;">
            <img id="user-status-icon" class="icon-signed-out" src="images/man.png" alt="User Profile" width="32" height="32">
        </a>
        <a href="#menu">Menu</a>
    </nav>
</header>