<!-- _includes/menu.njk -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html" data-translate="menu.home">Home</a></li>
        <li><a href="About.html" data-translate="menu.landing">About</a></li>
        <li class="services-menu">
            <span class="opener" data-translate="menu.Services">Services <i class="icon solid fa-chevron-right"></i></span>
            <ul>
                <li><a href="Web_Design.html">Web Development</a></li>
                <li><a href="Graphic_Design.html">Graphic Design</a></li>
                <li><a href="Video_Design.html">Video Editing</a></li>
                <li><a href="Audio_Design.html">Audio Services</a></li>
            </ul>
        </li>
        <li><a href="elements.html" data-translate="menu.Designs">Designs</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="#" class="button primary fit" data-translate="menu.get_started">Get Started</a></li>
        <li><a href="Login_Signup.html" class="button primary fit" data-translate="menu.login">Log In</a></li>
        <li><a href="Login_Signup.html" class="button fit" data-translate="menu.signup">Sign Up</a></li>
        <li class="lang-switch-container">
            <button class="lang-btn-flag active" id="lang-en"><img